main {
  font-family: Arial;
  font-size: 18px;
}

h1,
h2,
h3 {
  margin-bottom: 0px;
}

.picture-frame {
  border: 1px solid #aaaaaa;
  background-color: #eeeeee;
  padding: 5px;
  width: max-content;
}

.pic-sub-text {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 0px;
}
