.child {
  padding: 40px;
  font-size: 20px;
  background-color: orange;
  /*display: flex;
    align-items: center;
    justify-content: center;*/
}

.parent {
  background-color: blue;
  height: 80vh;
  padding: 20px;
  display: flex; /* Muss immer in den Eltern div eingefügt werden*/
  /* Abstand zwischen den Elementen*/
  flex-direction: column;
  gap: 10px;
}

/*Pseudo Klassen: */

.parent:hover .child:not(:hover) {
  background-color: red;
}

/*.child:hover {
  background-color: red;
}

button {
  font-size: 50px;
  background-color: red;
}

button:disabled {
  background-color: gray;
}
*/
